<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rumtime-MessageForwarding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2B2CC141DCDB65600324CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B2CC2D1DCDB65600324CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B2CC381DCDB65600324CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
